.toggle {
  @include btn-reset;
  display: block;
  width: 40px;
  max-width: 40px;
  position: relative;
  background-image: url("../../img/open_btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;

  &--nojs {
    display: none;
  }

  &--active {
    background-image: url("../../img/close_btn.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.products__view-btn {
  width: 231px;
  max-height: 56px;
  text-align: center;
  color: $black;
  border: 1px solid $border-main;
  border-radius: 4px;
  padding: 18px 25px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
