.features {
  background-color: $background-features;
}

.features__title {
  text-align: center;
}

.features__item {
  @include list-reset;
  border-top: 1px solid $border-black-10;

  &:last-child {
    border-bottom: 1px solid $border-black-10;
  }

  & img {
    max-width: 100%;
  }
}

.features__item-text {
  text-align: center;
}

.features__item-title {
  text-align: center;
}

.features__item-link {
  text-align: center;
  color: $text-link;
}
