.header {
  @include desktop {
    @include page-wrapper-desktop;
    background-color: aquamarine;
  }
}

.header__wrapper {
  padding-top: 15px;

  @include desktop {
  align-items: center;
  padding-top: 25px;
  }
}
