.social {
  @include style-reset;
  max-width: 220px;

  @include desktop {
    max-width: 100%;
    padding: 0 53px 0 61px;
    margin: 0;
  }
}

.social__item {
  @include list-reset;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $background-social;
  margin-left: 33px;

  &--facebook {
    padding: 9px 16px;
  }

  &--twitter {
    padding: 12px 10px;
  }

  &--instagram {
    padding: 9px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    background-color: $background-social-hover;
  }

  &:active {
    background-color: $background-social-active;
  }
}

.social__link {
  display: inline-block;
}
