.user-nav__list {
  @include list-reset;
}

.user-nav__item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-nav__link {
  color: $white;
  cursor: pointer;

  @include desktop {
    &:hover,
    &:focus {
      color: $text-link-hover;
    }

    &:active {
      color: $text-link-active;
    }
  }
}
