.user-nav {
  @include desktop {
    min-width: 130px;
    margin-left: 40px;
  }
}

.user-nav__list {
  @include style-reset;
  padding-left: 5%;

  @include desktop {
    padding: 0;
  }
}

.user-nav__item {
  list-style: none;
  padding: 20px;

  @include desktop {
    padding: 0;
    margin-left: 30px;
  }

  &:first-child {
    @include desktop {
      margin-left: 0;
    }
  }
}

.user-nav__link {
  color: $white;
  cursor: pointer;

  @include desktop {
    &:hover,
    &:focus {
      color: $text-link-hover;
    }

    &:active {
      color: $text-link-active;
    }
  }
}
